* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: rgb(89, 133, 150);
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  display: flex;
  margin: 0 auto;
  padding: 3%;
  justify-content: center;
  text-align: center;
  font-size: 48px;
}

.container {
  width: 100%;
  margin: 40;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  padding: 10px 40px;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 24px;
  font-weight: 200;
  border-radius: 25px;
}

/*book info*/

#libraryBoxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2em 0em;
}

.book {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 400px;
  width: 300px;
  background-color: darkolivegreen;
  border: 5px solid black;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
}

.title {
  font-size: 24px;
  color: black;
}

.author {
  font-size: 16px;
  color: black;
}

.pages {
  font-size: 16px;
  color: black;
}

.read {
}
/* 
.book:nth-child(odd) {
  box-shadow: 0px 0px 10px var(black);
}

.book:nth-child(even) {
  box-shadow: 0px 0px 10px var(rgb(110, 110, 110));
} */

.popup {
  width: 370px;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  padding: 0 20px 20px;
  backdrop-filter: blur(5px);
  visibility: hidden;
  transition: tranform 0.4s, top 0.4s;
}

.open-popup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.popup h2 {
  font-size: 32px;
  font-weight: 400;
  margin: 30px 0 10px;
  text-align: center;
}

.popup button {
  width: 100%;
  margin-top: 20px;
  padding: 10px 0;
  background-color: aliceblue;
  color: black;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
}

form {
  overflow: hidden;
}

form.bookInput {
  font-size: 18px;
  padding: 10px;
  display: inline-block;
}

input {
  padding: 10px 2 10px;
  margin: 2px;
  margin-left: 4em;
  font-size: 14px;
  border-radius: 2px;
  display: block;
  float: right;
  clear: both;
}

input#inputBox {
  padding: 2px;
}
